python-libnmap
xlsxwriter
termcolor
openpyxl
httpx
asyncio
pandas==2.3.3
numpy==2.3.4
bcrypt
requests

# packages for eyewitness
selenium==4.38.0
fuzzywuzzy
python-Levenshtein
pyvirtualdisplay
netaddr

# findings auditing
ssh-audit==3.3.0
